@font-face {
    font-family: 'Raleway';
    src: url('Raleway/static/Raleway-Regular.ttf');
}

body {
    font-family: 'Raleway';
    background-color: white;
    margin: auto;
}

p{
    color: black;
}


/*----- main grid -----*/
.container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto;
    margin: -15px 15px 0px 15px;
    max-width: 1170px;
    margin: auto;
            }

.container > div {
display: flex;
}
/*----- general -----*/

a {
    text-decoration: none;
}

h1 {
    font-size: 1em;
    font-weight: bold;
}

h2 {
    font-size: 0.7em;
    font-weight: lighter;
}


/*----- header -----*/
.header{
    grid-column: 1 / 6;
    display: flex;
}

#logo{
    position: relative;
    left: 0px;
    bottom: -20px;
}


/*barre boutons haut*/

.navi {
    grid-column: 6 / 11;
    display: flex;
    align-items: flex-end;
}
.navi nav ul {
    display: flex;
    justify-content: space-between;
}

.navi nav ul li {
    padding: 23px 30px;
    border: transparent solid;
    text-decoration: none;
    list-style-type: none;

}

.navi nav ul li:hover {
    border-top: #0065FC solid;
}
.navi nav ul li:first-child a {
    font-weight: lighter;
    color: #0065FC;  
    padding-right: 0px;
}

.navi nav ul li:nth-child(2) a {
    font-weight: lighter;
    color: black;  
}

/*barre boutons haut 2 - s'inscrire*/
.navi2{
    grid-column: 11 / -1;
    display: flex;
}

.navi2 nav ul li {
    padding-top: 23px;
    padding-right: 0px;
    border: transparent solid;
    text-decoration: none;
    list-style-type: none;
   
}

.navi2 nav ul li a {
    font-weight: bold;
    color: #0065FC;
}
.navi2 nav ul li:hover {
    border-top: #0065FC solid;
}





/*----- Section Searchbar + filtres ----- */

.filtres {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    padding-bottom: 0px;
    
}
/*-- Searchbar-- */

#searchbar {
    margin: 15px 0 20px 0;
    display: flex;
}

.search_button {
    display: block;
    border: 1px solid #0065FC;
    background-color: #0065FC;
    border-radius: 0 10px 10px 0;
    font-weight: bold;
    color: #F2F2F2;
    margin-left: -2px;
    padding: 8px;
}

.fa-map-marker-alt {
    display: block;
    background-color:#F2F2F2;
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: 1px solid #F2F2F2;
    text-align: center;
    border-radius: 10px 0 0 10px;
    margin-right: -2px;  
    
}

i.fas.fa-map-marker-alt {
    line-height: 30px;
}


/*-- Filtres -- */


#filters{
    margin-top: 10px;
    display: flex;
    align-items: center; 
    display: inline-block;
    
}

#filters > p {
    font-weight: bold;
    margin-right: 15px;
    display: inline-block;
}

.filterscase:hover button, .filterscase:hover {
    background-color: #DEEBFF;
}

.filterscase {
    margin: 0px 5px;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    background-color: white;
    display: inline-block;
}

.filterbutton {
    border: none;
    background-color: white;
    border-radius: 40px;
    display: inline-block;
}


.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    

    color: #0065FC;
    background-color: #DEEBFF;
    text-align: center;
    border-radius: 50%;
    border-radius: 80%;
    margin-left: -2px;
    padding: 8px;

}


#disponibles{
    display: flex;
    align-items: center;
    margin-top: 15px;
}
.fa-info-circle {
    margin: 10px 10px 10px 0;
}
.fa-info-circle, .fa-star {
    color: #0065FC;
}


/*------------------ END Section filtres End -----------------*/

.hebergement {
    grid-column: 1 / 9;
    width: 100%;
    margin: 0px 15px 15px 0;
    border-radius: 10px;
    padding-bottom: 0%;
    background-color: #F2F2F2;
    flex-direction: column;
}

.hebergement h3 {
    margin: 30px 0 0 30px;
    padding-bottom: 0px;
}

.cards {
    padding: 20px 18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}


.hotel {
    background-color: white;
    border: 30px;
    border-color: white;
    border-radius: 10px;
    padding: 3px;
    box-shadow: 0 4px 6px silver;
}

.hotel figure img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 70px;
    width: 100%;
    object-fit: cover; 
}

figcaption, .prix, .rating{
    font-size: 0.8em;
}
.prix{
    color: dimgrey;
}

figcaption {
    font-weight: bold;
    color: black;
    padding-top: 5px;
    
}

#Afficher {
    font-weight: bold;
    font-size: 0.8em;
    color: black;
}
/*------------------ Populaires -----------------*/

.pluspopulaires{
    display: flex;
    flex-direction: column;
}

.pluspopulaires {
    grid-column: 9 / -1;
    width: 100%;
    background-color: #F2F2F2;
    border-radius: 10px;
    margin: 0px 0px 15px 0px;
}

.cards2{
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    
}

.cards2 h3{
    margin: 30px 0 0 30px;
}

.fa-chart-line {
    position: relative;
    top: 15px;
    right: -51px;
}


.hotel2{
    background-color: white;
    margin: 10px;
    border: 10px;
    border-color: white;
    border-radius: 10px;
    display: flex;
    padding: 3px;
}

.hotel2card{
    display: flex;
    padding: 0px;
}

.hotel2 img{
    display: block;
    border-radius: 10px 0 0 10px;
    height: 90px;
    width: 90px;
    min-width: 90px;
    object-fit: cover;
}

.cardcontent{
    display: flex;
    flex-direction: column;
    position: relative;
    padding-left: 10px;
}

.cardcontent .rating{
    justify-content: flex-end;
    position: absolute;
    bottom: 5px;
}

.cardcontent p{
    padding-top: 5px;
}

.cardcontent p:first-child {
    font-weight: bold;
    font-size: 0.8em;
    padding-bottom: 0px;
}
.card-content p:last-child {
    font-size: 0.8em;
}


/*------------------ Activities -----------------*/
.activites {
    grid-column: 1 / -1;
    flex-direction: column;

}


.row a {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px silver;
    width: 100%;
}

.row a:first-child img, .row a:nth-child(4) img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 90%;
    width: 100%;
    object-fit: cover;
}

.row a:nth-child(2) img, .row a:last-child img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 80%;
    width: 100%;
    object-fit: cover;
}

.row a:nth-child(3) img, .row a:nth-child(5) img {
    display: block;
    border-radius: 10px 10px 0 0;
    height: 70%;
    width: 100%;
    object-fit: cover;
}

.row a p {
    margin: 5%;
    font-weight: bold;
    font-size: 0.8em;
}


.row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr) ;
    grid-auto-flow: dense;
    grid-gap: 20px;
    padding: 20px 0 20px 0;
}

.row1{
    display: grid;
    grid-column: 1 / 2;
    grid-row: 1 / -1;

}

.row2{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

}

.row3{
    display: grid;
    grid-column: 2 / 3;
    grid-row: 3/-1;

}

.row4{
    display: grid;
    grid-column: 3 / 4;
    grid-row: 1/-1;

}

.row5{
    display: grid;
    grid-column: 4 / 5;
    grid-row: 1 / 3;

}

.row6{
    display: grid;
    grid-column: 4 / 5;
    grid-row: 3 / -1;

}


/*------------------ Footer -----------------*/
.footer {
    
    justify-content: space-around;
    background-color: #F2F2F2;
    padding: 10px;
    display: flex;
    

}

.footer div {
    padding: 20px;
    display: block;
    
}

h4 {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 0.8em;
    
}

.footer ul{
    padding: 0px;
}

.footer div ul li a{
    color: dimgrey;
    font-size: 0.6em;
}


/*------------------ Adjustment -----------------*/

img {
    max-width:100%;
    max-height: 200px;
    display: block;
  } 

ul,
ol{
  list-style: none;
}

p,
ul
li,
figure,
figcaption,
h1,
h2,
h3,
h4,
dl{
  margin: 0;
}

